# date and time

In [2]:
import datetime
import time

In [3]:
datetime.datetime.now()

datetime.datetime(2023, 7, 6, 22, 7, 31, 823704)

In [6]:
datetime.date.today()

datetime.date(2023, 7, 6)

In [7]:
datetime.date(2023,6,6)

datetime.date(2023, 6, 6)

In [19]:
from datetime import datetime,date,time
from datetime import timedelta
datetime.today()

datetime.datetime(2023, 7, 6, 22, 15, 41, 435728)

In [52]:
date1 = date(2023,7,5)
date2 = date(2023,7,7)

In [53]:
tdelta = date2-date1
tdelta

datetime.timedelta(days=2)

In [54]:
#get number of days
tdelta.days

2

In [55]:
#get number of seconds in the diffenrence of date1 and date2
tdelta.total_seconds()

172800.0

In [56]:
#transform string object into python object

In [68]:
data = '10-12-2023'
date_string = "2023-07-06"

date_object = datetime.strptime(date_string, "%Y-%m-%d")

print(date_object)

date_object = datetime.strptime(data,"%d-%m-%Y")
print(date_object)

2023-07-06 00:00:00
2023-12-10 00:00:00

# file handling
"r" read mode
"a" append
"w" write
"x" create

In [93]:
#"t" text mode
# "b" create binary

f = open("file.txt")

In [75]:
#read the content of the file

In [88]:
# f.read()

'hello this is a text file\nthis is the second file\nthis is the third file\nthis is the forth file'

In [94]:
#read a single line
f.readline()

'hello this is a text file\n'

In [95]:
x = f.readlines()
data = [x.strip() for x in x]
print(data)

['this is the second file', 'this is the third file', 'this is the forth file']

In [96]:
f.close()
#close file

In [103]:
#create a new file
f = open('newfile.txt',"w")
f.write("this is line one\nhello how are you doing")
f.write('\n')
f.write('this is a newly created file')
f.close()

In [107]:
#file in the append mode
f = open('newfile.txt','a')
f.write('this is line 1')
f.write('\n')
f.write('this is line 2')
f.write('\n')
f.close()